# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

.prettierrc
.eslintcache

actions.spec.js
aliasing.spec.js
assertions.spec.js
connectors.spec.js
cookies.spec.js
cypress_api.spec.js
files.spec.js
local_storage.spec.js
local_storage.spec.js
location.spec.js
misc.spec.js
navigation.spec.js
network_requests.spec.js
querying.spec.js
spies_stubs_clocks.spec.js
traversal.spec.js
utilities.spec.js
viewport.spec.js
waiting.spec.js
window.spec.js
